<!DOCTYPE html>
<head>
    <title>{{ device_id }}</title>
    <style>
        .body {
            font-family: "lucida console";
        }
    </style>
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.png") }}">
    <meta name="port" content={{ port }}>
    <script type="text/javascript" src="{{ url_for("static", filename="index.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="config.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="environment.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="error.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="fuse.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="lock.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="program_state.js") }}"></script>
</head>
<body class="body">
    <b>Program State:</b> <span id="program_state"></span><br>
    <br>
    <b>Locked:</b> <span id="locked"></span><br>
    <br>
    <b>System Time:</b> {{ time }}<br>
    <br>
    <table id="fuse_table" cellpadding="2" cellspacing="2" border="1"></table>
    <br>
    <table id="error_table" cellpadding="2" cellspacing="2" border="1"></table>
    <br>
    <table id="config_table" cellpadding="2" cellspacing="2" border="1"></table>
    <br>
    <table id="environment_table" cellpadding="2" cellspacing="2" border="1"></table>
    <br>
    <u>Download Logfiles:</u><br>
    <br>
    <form action="/logs" method="get">
        <label for="amount">Amount of files:</label><br>
        <input type="text" id="amount" name="amount" value=1><br>
        <input type="submit" value="Download" formtarget="_blank">
    </form>
</body>
